# dependencies
node_modules/

# env files (can opt-in for committing if needed)
.env
.env.*
db/google-service-account.json

# apps
.next/
dist/
tsconfig.tsbuildinfo
next-env.d.ts

# neon context
.neon/
.neon

# sync run output
apps/sync/reruns/
apps/sync/reruns/latest.json
apps/sync/runreport/
apps/sync/logs/@
apps/sync/attendance-summary.txt
apps/sync/attendance-summary-hist.txt
runs/
logs/

# misc
.DS_Store
*.pem
.expo/
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
next-app-cache/

#Agents
.agents